# husky

# Build dependencies
node_modules/
coverage/
dist/
data/*
.husky/
.github/
prod/

# Logs
logs/

# Environment (contains sensitive data)
.env*

# Versioning and Metadata
.git
.gitignore
.dockerignore
.eslingignore

# Files not required for production
.editorconfig
dockerfile
docker-compose.yml
scpell.json
README.md
nodemon.json